WarehouseManager/Connected Services/WMDBService/WMDBService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WMDBService/WMDBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WMDBService" />
  <xs:element name="GetAllSites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WMDBService" minOccurs="0" name="GetAllSitesResult" nillable="true" type="q1:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empty" type="xs:boolean" />
        <xs:element minOccurs="0" name="full" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WMDBService" minOccurs="0" name="GetSitesResult" nillable="true" type="q2:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HangarExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HangarExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HangarExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHangar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hangarId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHangarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WMDBService" minOccurs="0" name="GetHangarResult" nillable="true" type="q3:Hangar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHangars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHangarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WMDBService" minOccurs="0" name="GetAllHangarsResult" nillable="true" type="q4:ArrayOfHangar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHangars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empty" type="xs:boolean" />
        <xs:element minOccurs="0" name="full" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHangarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WMDBService" minOccurs="0" name="GetHangarsResult" nillable="true" type="q5:ArrayOfHangar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyHangar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="N" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyHangarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyHangarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreePlacesCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreePlacesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFreePlacesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>