WarehouseManager/Connected Services/WMDBService/WMDBService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WMDBService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WMDBService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Site" nillable="true" type="tns:Site" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSite" nillable="true" type="tns:ArrayOfSite" />
  <xs:complexType name="Site">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="Empty" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Site" nillable="true" type="tns:Site" />
  <xs:complexType name="Hangar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="Fullness" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hangar" nillable="true" type="tns:Hangar" />
  <xs:complexType name="ArrayOfHangar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hangar" nillable="true" type="tns:Hangar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHangar" nillable="true" type="tns:ArrayOfHangar" />
</xs:schema>