Warehouse.ConsoleClient/Connected Services/DataService/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ShowStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowStatusResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="success" type="xs:boolean" />
        <xs:element minOccurs="0" name="exceptionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceContainers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="N" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceContainersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlaceContainersResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="success" type="xs:boolean" />
        <xs:element minOccurs="0" name="exceptionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FreeContainers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="N" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="hangarId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FreeContainersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FreeContainersResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="success" type="xs:boolean" />
        <xs:element minOccurs="0" name="exceptionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>