Warehouse.ConsoleClient/Connected Services/DataService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/DataService/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/DataService/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_ShowStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowStatus" />
  </wsdl:message>
  <wsdl:message name="IDataService_ShowStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_PlaceContainers_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceContainers" />
  </wsdl:message>
  <wsdl:message name="IDataService_PlaceContainers_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaceContainersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_FreeContainers_InputMessage">
    <wsdl:part name="parameters" element="tns:FreeContainers" />
  </wsdl:message>
  <wsdl:message name="IDataService_FreeContainers_OutputMessage">
    <wsdl:part name="parameters" element="tns:FreeContainersResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="ShowStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/ShowStatus" message="tns:IDataService_ShowStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/ShowStatusResponse" message="tns:IDataService_ShowStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlaceContainers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/PlaceContainers" message="tns:IDataService_PlaceContainers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/PlaceContainersResponse" message="tns:IDataService_PlaceContainers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FreeContainers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/FreeContainers" message="tns:IDataService_FreeContainers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/FreeContainersResponse" message="tns:IDataService_FreeContainers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowStatus">
      <soap:operation soapAction="http://tempuri.org/IDataService/ShowStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceContainers">
      <soap:operation soapAction="http://tempuri.org/IDataService/PlaceContainers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreeContainers">
      <soap:operation soapAction="http://tempuri.org/IDataService/FreeContainers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost/DataService/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>